input {
    color: white;
}

.addTask {
    display: flex;
}


.addTask button {
    padding: 5px 30px;
    height: 45px;
    background-color: #00bfa5; /* 緑色の背景 */
    color: white; /* 白い文字 */
    border: none; /* 枠線をなくす */
    border-radius: 4px; /* 角を丸める */
    cursor: pointer; /* カーソルをポインタにする */
    font-size: 15px;
  }
  
  .addTask button:hover {
    background-color: #00a38d; /* ホバー時に少し濃い緑色にする */
  }