.task {
  display: flex;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #ccc;
  font-size: 15px;
  color: rgb(238, 237, 237);
  user-select: text;
  
}

.delete-button {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    margin-left: auto;
    width: 30px;
    height: 25px; 
    font-size: 20px;
    background-color: rgb(255, 127, 127);
    user-select: none;
}